@import "../../../theme/variables";

.dot-moves {
    height: 6px;
    width: 6px;
    background-color: $white;
    opacity: 0.5;
    border-radius: 50%;
    display: inline-block;

    &.active {
        height: 9px !important;
        width: 9px !important;
        opacity: 1 !important;
    }
  }