@import "../../../theme/variables";

.main-card-img {
    color: $dark-blue;
    height: 518px;
}

.card-img-less-large {
    height: 518px;
}

@media screen and (max-width: 992px) {
    .main-card-img {
        height: auto;
    }
    .card-img-less-large {
        height: auto;
    }
}

.card-overlay {
   padding-left: 8rem;
   padding-top: 3rem;

   p {
    margin-bottom: 0.5rem;
}
   .card-text-semibold {
       font-weight: 600;
       font-size: 1.4rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .card-overlay {
        padding-left: 5rem !important;
    }
}

@media screen and (max-width: 768px) {
    .card-overlay {
        padding-left: 5rem !important;
    }
    .card-text-semibold {
        font-weight: 600;
        font-size: 1.2rem !important;
    }
     .card-title {
        font-size: 1.5rem !important;
    }
    .card-text-normal {
        font-size: 0.9rem !important;
    }
}

@media screen and (max-width: 400px) {
    .card-overlay {
        padding-left: 4rem !important;
    }
}

.card-text-normal {
    font-size: 1.2rem;
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 700 !important;
}
