@import "../../../theme/variables";

.nav-tabs {
    border: none;
    border-radius: 20px;
}
.tab-content {
    background: linear-gradient(rgba($blue, 1), rgba($light-blue, 0.9)) !important;;
    padding: 1rem;
    border-radius: 0 20px 20px 20px;
    color: $white;
    height: 320px;
}

#tab-forecast-tab-month.active {
    background: rgba($blue, 1);
    color: $white;
    font-weight: 700;
}
#tab-forecast-tab-week.active {
    background: rgba($blue, 1);
    color: $white;
    font-weight: 700;
}
button {
    border: none !important;
    border-radius: 20px 20px 0 0 !important;
}

li.nav-item {
    background-color: #f1f1f1;
    border-radius: 20px 20px 0 0;
}

.tab-week {
    display: flex;
    flex-direction: column;
    position: relative !important;
    height: 100%;
}

.tab-card-container {
    display: flex;
    justify-content: space-around;
    height: 90%;

    @media screen and (max-width: 1400px) and (min-width: 992px) {
        flex-direction: column !important;
        justify-content: space-evenly;
       }

    @media screen and (max-width: 768px) {
        flex-direction: column !important;
        justify-content: space-evenly;
       }
}

.tab-card-container-month {
    height: 90%;
}
.display-none {
    display: none !important;
}
